.side-bar {
    position: absolute;
    width: 240px;
    height: 100vh;
    background: #abf3;

    .todo-classification-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .my-todo-list-container {
        .my-todo-list-title {
            padding-top: 10px;
            color: #91959b;
            font-size: 12px;
            text-indent: 2em;
        }
    }
}
