# dir
.vscode/**
.vscode-test/**
out/**
src/**
build/**
node_modules/**


# file
.eslintignore
.prettierignore
.stylelintrc.json
.gitignore
.yarnrc
yarn.lock
**/tsconfig.json
**/.eslintrc.json
**/*.map
